:root {
  --primary-color: #aa8be1;
  --secondary-color: white;
  --align: center;
}

@media (max-width: 587px) {
  .yoga-home,
  .yogurt-home {
    padding-bottom: 40px;
  }
  .weather-home {
    padding-top: 40px;
  }

  .buttons {
    max-width: 100%;
    font-size: 14px;
  }
}
h3 {
  font-size: 25px;
  color: #784ec1;
}
p {
  font-size: 18px;
}
img {
  max-width: 100%;
  height: auto;
}
.about-details {
  text-align: var(--align);
}
.main {
  text-align: var(--align);
}
.sub-title {
  font-size: 45px;
}
.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 14px 40px;
  padding-bottom: 30px;
}
.button-one {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: var(--secondary-color);
  border: none;
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 14px 40px;
}
.button-two {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  padding: 14px 40px;
}
.name {
  font-size: 80px;
  margin: 0px;
  padding-bottom: 10px;
}
.main-h2 {
  font-size: 45px;
  margin: 0px;
}
